includes:
	- vendor/contributte/phpstan/phpstan.neon

parameters:
	level: 8
	phpVersion: 80200
	paths:
		- src
	fileExtensions:
		- php
	ignoreErrors:
		# PHP 8.4+ function, guarded by PHP_VERSION_ID check
		- '#Function http_get_last_response_headers not found#'
		# $http_response_header is a predefined variable set by file_get_contents()
		- '#Variable \$http_response_header on left side of \?\? always exists#'
